@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: "Inter Tight", sans-serif;
    box-sizing: border-box;
    transition:0.4s ease-in-out;
    margin:0;
    padding:0;
}
body {
    margin: 0;
    padding: 0;
    background-color: #f7f9fc;
    color: #333;
}

.main-container{
    max-width: 1500px;
    margin: auto;
    /* display: flex; */
    height: 1600px;
    border:1px solid rgb(225, 221, 221);
    background: linear-gradient(to right, #FDEBEB, #E8F0FE);
}
.nav-container img{
        width:120px;
        height:75px;
        border-radius: 10px;
}
.nav-container {
    display: flex;
    background: linear-gradient(to right, #6A82FB, #690bb6);
    max-width: 1500px;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    border-radius: 1.3rem;

}
.nav-container h1{
    color:rgb(23, 23, 155);
    font-size: 30px;
    font-weight: 700;
    margin-left: 100px;
}

.nav-items {
    display: flex;
    align-items: center;
    flex-grow: 5;
    /* background-color: yellow; */
    justify-content: flex-end;
}

#notif {
    background-color: #F9F9FB;
    padding: .6rem;
    border-radius: .7rem;
    margin-left: 1rem;
}
.user-info {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-left: 3rem;
}
.search-inp {
    border: none;
    background-color: #F9F9FB;
    padding: 1rem;
    border-radius: .7rem;
    width: 100%;
    margin-right: 8rem;
    border:  1px solid grey;
}
.user-info>div>img {
    border-radius: 100%;
    width: 3rem;
    height: 3rem;
}

.name-email>.name {
    font-weight: 700;
    color: white;
}

.name-email{
    display:flex;
    flex-direction: column;
}
.name-email>.email {
    font-weight: 700;
    font-size: .7rem;
    color: #9D9EA1;
}
.dashboard{
    display:flex;
    margin-top: 0px;;
}
.sidebar {
    width: 300px;
    height: 850px;
    background: linear-gradient(to right, #690bb6, #6A82FB);
    padding: 20px;
    box-shadow: 10px 5px 5px #690bb6;
    
    /* position: fixed; */
}

.sidebar .menu-title,
.sidebar .general-title {
    margin-bottom: 10px;
    font-weight: bold;
    color:rgb(46, 46, 46);
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    margin-bottom: 15px;
}

.sidebar ul li a {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 16px;
    display: flex;
    align-items: center;
    padding: 10px;
}
.sidebar ul li a span {
    margin-left: 10px;
}

.sidebar .general{
    margin-top: 50px;
    margin-left: 15px;
}

.sidebar .logout { 
    margin-top: 180px;
    display: flex;
    align-items: center;
    margin-left: 15px;
}

.sidebar .logout a {
    text-decoration: none;
    color: #3c8dbc;
    font-weight: bold;
    display: flex;
    align-items: center;
}
.sidebar ul li a:hover {
    background-color:rgb(54, 11, 163);
    color: white;
    border-radius: 10px;
}
.sidebar:hover{
    transform: scale(1.05);
    background-color: #e6f7ff;
    margin-top: 30px;
}
.sidebar .logout a:hover{
    transform: scale(1.1);
    color:black;
}
.graph{
    width:1000px;
}
.overview-container{
    display:flex;
    justify-content: space-around;
    width:1200px;
    padding-top: 20px;
}

.overview-card {
    display: flex;
    flex-direction: column;
    width: 200px;
    gap: .5rem;
    height:85px;
    justify-content: flex-start;
    color:grey;
    background-color: #F3E5F5;
    box-shadow: 12px 12px 2px 1px rgba(151, 35, 227, 0.2);
    border-radius: 8px;
}



.overview-type{
    display: flex;
    text-align: center;
    gap: .2rem;
    color: #9D9EA1;
    font-weight: 600;
    font-size: .8rem;
}


.overview-amount {
    display: flex;
    text-align: center;
    gap: .3rem;
}

.overview-amount>.amount  {
    color: darkblue;
    font-size: 1.5rem;
    font-weight: 500;
}

.overview-amount>.percent {
    padding: .3rem;
    font-size: .6rem;
    border-radius: 1rem;
    font-weight: 700;
   
}

.overview-amount>.up {
    background-color: #E6F5EB;
    color: darkgreen;
}
.overview-amount>.down {
    background-color: #EE3B3B;
    color: white;
}

.overview-info>.up {
    color: darkgreen;
}

.overview-info>.down {
    color: red;
}

.overview-info> span {
    font-weight: 600;
    font-size: .8rem;
}
.chart-1{
    width:1200px;
}

.chart{
    display: flex;
    flex-direction: column;
    
}
.chart-1 h3{
    font-size: 25px;
    color:darkblue;
    margin-left: 250px;
}
.chart div:nth-of-type(3) img{
    width: 30vw;
}
.chart div:nth-of-type(2) img,.chart div:nth-of-type(1) img{
    width: 60vw;
}
.chart-container {
    width: 600px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 30px;
}
.chart-title {
    font-size: 24px;
    margin-bottom: 20px;
    /* text-align: center; */
    /* margin-left: 400px; */
}
.chart-title1{
    font-size: 24px;
    margin-bottom: 20px;
    color:darkblue;
    font-weight: 600;
    /* text-align: center; */
    /* margin-left: 400px; */
}
.chart {
    position: relative;
    
}
.bar-chart {
    display: flex;
    justify-content: space-between;
    /* align-items: flex-end; */
    height: 300px;
    /* border-left: 2px solid #000;
    border-bottom: 2px solid #000; */
    /* padding-bottom: 10px;*/
    position: relative; 
}
.bar-group {
    display: flex;
    flex-direction: column;
    /* margin-right: 10px; */
    /* align-items: center; */
    width: 80px;
}
.bar {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    width: 100%;
    height: 100%;
}
.bar div {
    width: 30px;
}
.income {
    background-color: rgb(37, 134, 245);
    border-radius: 5px;
}
.expenses {
    background-color: rgb(99, 218, 242);
    border-radius: 5px;
}
.income:hover{
    transform: scale(1.1);
}
.expenses:hover{
    transform: scale(1.1);
}
.bar-label {
    margin-top: 10px;
    
}
.y-axis-labels {
    position: absolute;
    left: -70px;
    bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
}
.y-axis-labels div {
    margin-right: 5px;
}
.legend-bar {
    display: flex;
    justify-content: center;
    padding-top: 10px;
    /* margin-top: 20px; */
}
.legend-bar div {
    display: flex;
    align-items: center;
    margin: 0 10px;
}
.legend-bar div span {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 5px;
}
.income-legend {
    background-color: rgb(37, 134, 245);
}
.expenses-legend {
    background-color: rgb(99, 218, 242);
}

.chart-title {
    font-size: 25px;
    color:darkblue;
    margin-left: 250px;
    font-weight: 700;
    padding-top: 100px;
}

.pie-charts {
    display: flex;
    /* justify-content: space-around; */
    /* flex-wrap: wrap; */
    gap: 100px;
    margin-left: 300px;
}
.pie-chart-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    position: relative;
}
.pie-chart {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    position: relative;
}
.percentage-label {
    position: absolute;
    font-size: 12px;
    font-weight: bold;
    color: black;
    transform: translate(-50%, -50%);
}
.legend {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    flex-wrap: wrap;
}
.legend div {
    display: flex;
    align-items: center;
    margin: 0 10px;
}
.legend div span {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.jul { background-color: #6A82FB; }
.jun { background-color: #FC5C7D; }
.may { background-color: #f4c0c0; }
.apr { background-color: #a1bae6; }
.mar { background-color: #FFCC80 ; }
.feb { background-color: #A7C7E7; }

.head{
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
    padding-bottom: 1px;
    
}
.head h2 {
    font-size: 25px;
    color:darkblue;
    margin-left: 30px;
    font-weight: 700;
    padding-top: 100px;
}
.view-all{
    color: wheat;
    background-color: rgb(54, 11, 163) ;
    height: 50px;
    width: 100px;
    border-radius: 50px;
    transition: ease-in-out 0.3s;
    margin-top: 110px;
    /* margin-left: 680px; */
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    margin-left: 130px;
    font-size: 1em;
    min-width: 400px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

table thead tr {
    background-color: #6A82FB;
    color: #FFFFFF;
    text-align: left;
    font-weight: bold;
}

table th,
table td {
    padding: 12px 15px;
    border: 1px solid #E0E0E0;
}

table tbody tr {
    border-bottom: 1px solid #E0E0E0;
}

table tbody tr:nth-of-type(even) {
    background-color: #F3F4F6;
}

table tbody tr:nth-of-type(odd) {
    background-color: #FFFFFF;
}

table tbody tr:last-of-type {
    border-bottom: 2px solid #6A82FB;
}

table tbody tr:hover {
    background-color: #E8F0FE;
    cursor: pointer;
}
.Footer {
    display: flex;
    margin-top: 30px;
    max-width: 1500px;
    margin: auto;
}

.text {
    display: flex;
    justify-content: space-around;
    width: 60%;
    margin-top: 50px;
    color: white;
    font-size: 15px;
    height: 400px;
}

.columns h1 {
    font-size: 20px;
    font-weight: 400;
}

.columns p {
    font-size: 14px;
    font-weight: 400;
    color: rgb(95, 128, 143);
}

.columns p:hover {
    transform: scale(1.1);
    color: white;
}

.Logo-info {
    margin-top: 60px;
    width: 40%;
    display: block;


}

.follow {
    color: white;
    margin-left: 220px;
    font-size: 15px;
}

.Logo {
    justify-content: space-around;
    display: flex;
    width: 50%;
    margin-left: 200px;
}

.FinEase-footer {
    display: flex;
    background-color: black;
    max-width: 1500px;
    margin: auto;
    height: auto;
}

.FinEase-footer p {
    color: white;
    margin-left: 1100px;

}

.FinEase-footer img {
    width: 100px;
    height: 55px;
    border-radius: 10px;
    margin-left: 60px;
    margin-bottom: 10px;

}

.footer-container {
    display: block;
    background-color: black;
    margin: auto;

}
